---
import Slider from "../components/dynamic/Slider.svelte";
import Tile from "../components/dynamic/Tile.svelte";
import Page from "../layouts/Page.astro";
import data, { commercials } from "../data/motion";
---

<!-- TODO: fix up description... -->
<Page
  title="Benjamin Bellette | Motion"
  description="Melbourne and Sydney-based cinematographer."
>
  <Slider client:idle title="Motion" pics={data.hero} />
  <section id="reel">
    <h2 class="subtitle">Reel</h2>
    <iframe
      src="https://player.vimeo.com/video/316965018?title=0&byline=0&portrait=0"
      title="2019 Reel Benjamin Bellette"
      frameborder="0"
      width="100%"
      height="100%"
      allow="autoplay; fullscreen; picture-in-picture;"
      allowfullscreen
      class="w-main mx-auto my-12 aspect-video"
    >
    </iframe>
  </section>
  <section id="mumlife">
    <h2 class="subtitle">MumLife Trailer</h2>
    <div class="w-main mx-auto my-16 aspect-video">
      <Tile
        client:visible
        title="MumLife"
        subtitle="2022 Short Film"
        img="https://i.imgur.com/m9pUpLU.jpg"
        items={data.mumlife}
      />
    </div>
  </section>
  <section id="music">
    <h2 class="subtitle">Music Videos</h2>
    <div
      class="grid justify-center gap-8 m-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="aspect-video">
        <Tile
          client:visible
          title="Sydney Children's Choir"
          subtitle="Deine Mami"
          img="https://i.imgur.com/Giu7jh2.jpg"
          items={data.music_videos.sydney_childrens_choir}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Twin Filament"
          subtitle="Visual Poem"
          img="https://i.imgur.com/ySzi6a2.jpg"
          items={data.music_videos.twin_filament}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Maddy Jane"
          subtitle="Thank You and Sorry"
          img="https://i.imgur.com/BQ9hVDC.jpg"
          items={data.music_videos.maddy_jane}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Sahara Beck"
          subtitle="Here We Go Again"
          img="https://i.imgur.com/KEZb0ZO.jpg"
          items={data.music_videos.sahara_beck}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Samsaruh"
          subtitle="Speaking Fire"
          img="https://i.imgur.com/9f1oxw9.jpg"
          items={data.music_videos.samsaruh}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Wolf and Willow"
          subtitle="Falling"
          img="https://i.imgur.com/MhKXVAG.jpg"
          items={data.music_videos.wolf_and_willow}
        />
      </div>
    </div>
  </section>
  <section>
    <h2 class="subtitle">Commercials</h2>
    <div
      class="grid justify-center gap-8 m-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="aspect-video">
        <Tile
          client:visible
          title="Bentley"
          subtitle="Continental GT"
          img="https://i.imgur.com/Xfu5Ukc.jpg"
          items={data.commercials.bentley}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Merry People"
          subtitle="2019"
          img="https://i.imgur.com/7sOpGLI.jpg"
          items={data.commercials.merry_people}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="WAG"
          subtitle="More Than a WAG"
          img="https://i.imgur.com/CbYh9YN.png"
          items={data.commercials.wag}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="AMSA"
          subtitle="Melbourne 2020"
          img="https://i.imgur.com/8Dt3ylP.jpg"
          items={data.commercials.amsa}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Leneeva Homes"
          subtitle="The Monterey – TVC"
          img="https://i.imgur.com/8TLw0iB.jpg"
          items={data.commercials.leneeva_homes}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Home"
          subtitle="with Deborah Hutton"
          img="https://i.imgur.com/tbf3X5P.jpg"
          items={data.commercials.home}
        />
      </div>
    </div>
  </section>
  <section>
    <h2 class="subtitle">Films</h2>
    <div
      class="grid justify-center gap-8 m-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="aspect-video">
        <Tile
          client:visible
          title="Sydney Children's Choir"
          subtitle="Deine Mami"
          img="https://i.imgur.com/Giu7jh2.jpg"
          items={data.music_videos.sydney_childrens_choir}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Twin Filament"
          subtitle="Visual Poem"
          img="https://i.imgur.com/ySzi6a2.jpg"
          items={data.music_videos.twin_filament}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Maddy Jane"
          subtitle="Thank You and Sorry"
          img="https://i.imgur.com/BQ9hVDC.jpg"
          items={data.music_videos.maddy_jane}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Sahara Beck"
          subtitle="Here We Go Again"
          img="https://i.imgur.com/KEZb0ZO.jpg"
          items={data.music_videos.sahara_beck}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Samsaruh"
          subtitle="Speaking Fire"
          img="https://i.imgur.com/9f1oxw9.jpg"
          items={data.music_videos.samsaruh}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Wolf and Willow"
          subtitle="Falling"
          img="https://i.imgur.com/MhKXVAG.jpg"
          items={data.music_videos.wolf_and_willow}
        />
      </div>
    </div>
  </section>
  <section>
    <h2 class="subtitle">Corporates</h2>
    <div
      class="grid justify-center gap-8 m-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="aspect-video">
        <Tile
          client:visible
          title="Sydney Children's Choir"
          subtitle="Deine Mami"
          img="https://i.imgur.com/Giu7jh2.jpg"
          items={data.music_videos.sydney_childrens_choir}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Twin Filament"
          subtitle="Visual Poem"
          img="https://i.imgur.com/ySzi6a2.jpg"
          items={data.music_videos.twin_filament}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Maddy Jane"
          subtitle="Thank You and Sorry"
          img="https://i.imgur.com/BQ9hVDC.jpg"
          items={data.music_videos.maddy_jane}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Sahara Beck"
          subtitle="Here We Go Again"
          img="https://i.imgur.com/KEZb0ZO.jpg"
          items={data.music_videos.sahara_beck}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Samsaruh"
          subtitle="Speaking Fire"
          img="https://i.imgur.com/9f1oxw9.jpg"
          items={data.music_videos.samsaruh}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Wolf and Willow"
          subtitle="Falling"
          img="https://i.imgur.com/MhKXVAG.jpg"
          items={data.music_videos.wolf_and_willow}
        />
      </div>
    </div>
  </section>
  <section>
    <h2 class="subtitle">Documentaries</h2>
    <div
      class="grid justify-center gap-8 m-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="aspect-video">
        <Tile
          client:visible
          title="Sydney Children's Choir"
          subtitle="Deine Mami"
          img="https://i.imgur.com/Giu7jh2.jpg"
          items={data.music_videos.sydney_childrens_choir}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Twin Filament"
          subtitle="Visual Poem"
          img="https://i.imgur.com/ySzi6a2.jpg"
          items={data.music_videos.twin_filament}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Maddy Jane"
          subtitle="Thank You and Sorry"
          img="https://i.imgur.com/BQ9hVDC.jpg"
          items={data.music_videos.maddy_jane}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Sahara Beck"
          subtitle="Here We Go Again"
          img="https://i.imgur.com/KEZb0ZO.jpg"
          items={data.music_videos.sahara_beck}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Samsaruh"
          subtitle="Speaking Fire"
          img="https://i.imgur.com/9f1oxw9.jpg"
          items={data.music_videos.samsaruh}
        />
      </div>
      <div class="aspect-video">
        <Tile
          client:visible
          title="Wolf and Willow"
          subtitle="Falling"
          img="https://i.imgur.com/MhKXVAG.jpg"
          items={data.music_videos.wolf_and_willow}
        />
      </div>
    </div>
  </section>
  <section>
    <h2>Interested in seeing more?</h2>
    <p>View portfolio</p>
  </section>
</Page>

<style>
  .w-main {
    width: min(60rem, 90%);
  }

  .w-item {
    width: max(20ch, 100%);
  }
</style>
