---
import { Image } from "@astrojs/image/components";
import logo from "../assets/logo-dark.png";

const path = Astro.url.pathname;
function active(item: string): string {
  if (item === path) return "active";
  return "";
}

const pages = [
  {
    link: "/motion",
    text: "Films",
    children: [
      { link: "/motion#reel", text: "Reel" },
      { link: "/motion#music", text: "Music Videos" },
      { link: "/motion#commercials", text: "Commercials" },
      { link: "/motion#films", text: "Films" },
      { link: "/motion#corporates", text: "Corporates" },
      { link: "/motion#documentaries", text: "Documentaries" },
    ],
  },
  {
    link: "/stills",
    text: "Stills",
    children: [
      { link: "/stills#bts", text: "Behind the scenes" },
      { link: "/stills#photography", text: "Photography" },
    ],
  },
  { link: "/contact", text: "Contact" },
];

let icon = "menu";
---

<header>
  <div class="flex justify-between items-center">
    <a href="/">
      <div class="m-4">
        <!-- TODO: this doesn't work on mobile/Edge -->
        <Image src={logo} format="avif" width={236} height={54} />
      </div>
    </a>

    <img
      src="./assets/menu.svg"
      width="32px"
      height="32px"
      class="m-4 hover:cursor-pointer"
      id="hamburger"
    />
  </div>

  <nav class="mx-4">
    <ul
      data-visible="false"
      class="py-4 hidden [&[data-visible='true']]:block [&[data-visible='true']]:animate-slide-fade-in [&[data-visible='hiding']]:block [&[data-visible='hiding']]:animate-slide-fade-out"
    >
      {
        pages.map((page, i) => (
          <>
            <li
              key={i}
              class={`${active(page.link)} border-t border-gray-400 py-2`}
            >
              <a
                href={page.link}
                class="no-underline opacity-60 hover:text-[#b1b1b1] [.active_&]:opacity-100"
              >
                {page.text}
              </a>
            </li>
            {page.children &&
              page.children.map((section, i) => (
                <li
                  key={i}
                  class={`${active(
                    page.link
                  )} border-t border-gray-400 py-2 pl-4`}
                >
                  <a
                    href={section.link}
                    class="no-underline opacity-60 hover:text-[#b1b1b1] [.active_&]:opacity-100"
                  >
                    {section.text}
                  </a>
                </li>
              ))}
          </>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const hamburger = document.getElementById("hamburger") as HTMLImageElement;
  const nav = document.querySelector("ul");

  hamburger.addEventListener("click", () => {
    const visible = nav.getAttribute("data-visible");
    const animation = window.matchMedia(
      "(prefers-reduced-motion: no-preference"
    ).matches;
    if (visible === "false") {
      nav.setAttribute("data-visible", "true");
      hamburger.classList.add("open");
      hamburger.src = "./assets/x.svg";
    } else {
      nav.setAttribute("data-visible", "hiding");
      hamburger.classList.remove("open");
      hamburger.src = "./assets/menu.svg";

      if (animation === true)
        setTimeout(() => nav.setAttribute("data-visible", "false"), 250);
      else nav.setAttribute("data-visible", "false");
    }
  });

  const activeItems = document.querySelectorAll(".active > a");
  for (const item of activeItems) {
    console.log(item);
    item.addEventListener("click", () => {
      hamburger.click();
    });
  }
</script>
