---
import { Image } from "@astrojs/image/components";
import Icon from "../components/Icon.svelte";
import logo from "../assets/logo-dark.png";

const path = Astro.url.pathname;
function active(item: string): string {
  if (item === path) return "active";
  return "";
}

const pages = [
  {
    link: "/motion",
    text: "Films",
    children: [
      { link: "/motion#reel", text: "Reel" },
      { link: "/motion#music", text: "Music Videos" },
      { link: "/motion#commercials", text: "Commercials" },
      { link: "/motion#films", text: "Films" },
      { link: "/motion#corporates", text: "Corporates" },
      { link: "/motion#documentaries", text: "Documentaries" },
    ],
  },
  {
    link: "/stills",
    text: "Stills",
    children: [
      { link: "/stills#bts", text: "Behind the scenes" },
      { link: "/stills#photography", text: "Photography" },
    ],
  },
  { link: "/contact", text: "Contact" },
];
---

<header>
  <div class="flex justify-between items-center">
    <a href="/">
      <div class="m-4">
        <!-- TODO: this doesn't work on mobile/Edge -->
        <Image src={logo} format="avif" />
      </div>
    </a>

    <Icon
      name="menu"
      width="2.5em"
      height="2.5em"
      stroke="white"
      strokeWidth="2"
      class="m-4 hover:cursor-pointer"
      id="hamburger"
    />
  </div>

  <nav>
    <ul data-visible="false">
      {
        pages.map((page, i) => (
          <>
            <li key={i} class={active(page.link)}>
              <a href={page.link}>{page.text}</a>
            </li>
            {page.children &&
              page.children.map((section, i) => (
                <li key={i} class:list={[active(page.link), "pl-4"]}>
                  <a href={section.link}>{section.text}</a>
                </li>
              ))}
          </>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const hamburger = document.getElementById("hamburger") as HTMLButtonElement;
  const nav = document.querySelector("ul");

  hamburger.addEventListener("click", () => {
    const visible = nav.getAttribute("data-visible");
    const animation = window.matchMedia(
      "(prefers-reduced-motion: no-preference"
    ).matches;
    console.log(animation);
    if (visible === "false") {
      nav.setAttribute("data-visible", "true");
      hamburger.classList.add("open");
    } else {
      nav.setAttribute("data-visible", "hiding");
      hamburger.classList.remove("open");

      if (animation === true)
        setTimeout(() => nav.setAttribute("data-visible", "false"), 250);
      else nav.setAttribute("data-visible", "false");
    }
  });
</script>
