---
import { A11yDialog } from 'react-a11y-dialog'
import play from "../assets/play.svg"

export interface Props {
    title: string
    text: string
    img: string
}

const { title, text, img } = Astro.props

const background = `background: url(${img}) center center / cover #111;`
---

<div class="slice">
    <div class="slice-bg" style={background}>
        <div class="slice-overlay">
            <img width="20" height="20" src={play} />
            <h3>{title}</h3>
            <p>{text}</p>
        </div>
    </div>
    <div class="dialog-container" aria-hidden="true" data-a11y-dialog="title">
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
        <h1>Test</h1>
    </div>
</div>

<style>
    .slice {
        position: relative;
    }

    .slice-bg {
        height: max(120px, 18.75vw);
    }

    .slice-overlay {
        position: absolute;
        inset: 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;

        background-color: hsl(0 0% 0% / 0.8);
    }

    a.slice-overlay {
        text-decoration: none;
        font-size: 1rem;
    }

    .slice-overlay img {
        display: none;
    }

    @media (min-width: 40rem) {
        .slice-overlay p {
            margin-top: 1em;
        }
    }

    @media (min-width: 50rem) {
        .slice-overlay img {
            display: block;
            margin: 0 auto;
        }

        .slice-overlay h3 {
            margin-top: 1rem;
        }
    }

    @media (hover: hover) {
        .slice-bg .slice-overlay {
            opacity: 0;
            visibility: hidden;
        }

        .slice-bg:hover .slice-overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        .slice-overlay {
            transition: opacity 0.3s ease-in-out, visibility 0.3s;
        }
    }

    .modal {
        background: transparent;
        padding: 0;
        border: 0;

        overscroll-behavior: contain;
    }

    .modal::backdrop {
        background-color: rgb(0 0 0 / 0.4);
    }
</style>